.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
      .top-items__icons
        = link_to "#", class: "icon" do
          = icon('fas', 'edit')
          %span<>
        = link_to "#", class: "icon" do
          = icon('fas', 'cog')
          %span<>
  .side-bar__grouplist
    .group
      .group-name
        techcamp
      .new-message
        ああああ
    .group
      .group-name
        test
      .new-message
        123  